@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/css/app.css" type="text/css" />
<body>

    <h1>Welcome to Hogwarts School of Witchcraft and Coding!</h1>
    <p>Please feel free to look around!</p>

</body>