@using StudentRegistry.ViewModels
@{
    var student = ViewData["student"] as Student;
}

<link rel="stylesheet" href="~/css/app.css" type="text/css" />
<h2>@student.Name was successfully registered.</h2>
