<link rel="stylesheet" href="~/StyleSheet.css">
@{

}
<h1>Welcome to the HURT DOME!!!!</h1>
<h3>aka Codefellows</h3>
<p>Please type /Students/Display to see a list of students currently enrolled</p>
<p>Coming soon, a list of Faculty members</p>