@model Lab12Cameron.Models.Student
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link href="~/StyleSheet.css" rel="stylesheet" type="text/css" />

<h1>The Golden Age Academy Of Hip Hop</h1>

<h3>1. To Register as a new Golden Age MC:</h3>
<p>In URL, copy this into after localhostXXXXX : /students/create </p>

<h3>2. To View all Golden Age MC's:</h3>
<p>In URL, copy this into after localhostXXXXX : /students </p>



